<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=DESKTOP-R6KDS5P;Initial Catalog=ShackUp1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>